<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <br>
    <p>     
        <a class="botonVolver" href="/">inicio</a> 
        <a class="botonAgregar" href="/movies">Peliculas</a>    
    </p>
    <br>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    
    <% if (movie.actors.length) { %>

        <ul>
            <% movie.actors.forEach(actor => { %>
                <li><a href="/actors/detail<%= actor.id %> "><%= actor.first_name %>, <%= actor.last_name %> </a></li>       
            <% }) %>
    
        </ul>
    <% } %>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <a class="botonAgregar" href="/movies/edit/<%= movie.id %>">Editar!!!!</a>  
        <a class="botonBorrar" href="/movies/delete?id=<%= movie.id%>&title=<%= movie.title %>">Eliminar!!!!</a>  
    </section>

</body>
</html>